# LaTeX intermediate files
*.aux
*.toc
*.out

# Biber/BibTeX bibliography files
*.bcf
*.bbl
*.blg

#Log files
*.log
*.run.xml

SyncTeX
*.synctex.gz
*.synctex(busy)

# signed declaration of originality
declaration-originality.pdf

